
net5.0-windows/

Aktualisieren/Newtonsoft.Json.dll

Aktualisieren/SpsProjekteAktualisieren.dll

Aktualisieren/SpsProjekteAktualisieren.exe

Aktualisieren/SpsProjekteAktualisieren.pdb

Aktualisieren/SpsProjekteAktualisieren.runtimeconfig.dev.json

Aktualisieren/SpsProjekteAktualisieren.runtimeconfig.json
